Q.1) Convert given hrs & mins in second

In [20]:
hr=int(input("Enter hours:"))
min=int(input("Enter minutes:"))
sec=(hr*3600)+(min*60)
print(hr,"hours and",min,"minutes are total",sec,"seconds.")

Enter hours:2
Enter minutes:30
2 hours and 30 minutes are total 9000 seconds.

Q.3) Print
1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [6]:
for i in range(1,6):
  for j in range(i,i+i):
    print(j%2,end=" ")
  print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

Q.6) Read file & count numbers of digit
alphabets & symbols
(hint one can compare using ‘a’ < digit <
‘z‘

In [29]:
a=input("Enter a string")
d=l=s=0
for c in a:
  if c.isdigit():
    d=d+1
  elif c.isalpha():
    l=l+1
  else:
    pass
  print("Letters",l)
  print("Digits",d)   
  print("Symbols",s)

Enter a stringanuradha@123
Letters 1
Digits 0
Symbols 0
Letters 2
Digits 0
Symbols 0
Letters 3
Digits 0
Symbols 0
Letters 4
Digits 0
Symbols 0
Letters 5
Digits 0
Symbols 0
Letters 6
Digits 0
Symbols 0
Letters 7
Digits 0
Symbols 0
Letters 8
Digits 0
Symbols 0
Letters 8
Digits 0
Symbols 0
Letters 8
Digits 1
Symbols 0
Letters 8
Digits 2
Symbols 0
Letters 8
Digits 3
Symbols 0

Q.8) Print
1
3 3
5 5 5
6 6 6 6
7 7 7 7 7

In [25]:
for i in range(1,6,2):
  for j in range(0,i+1,2):
    print(i,end=" ")
  print()
for k in range(6,8):
  for j in range(1,k-1):
    print(k,end=" ")
  print()

1
3 3
5 5 5
6 6 6 6
7 7 7 7 7

Q.9) Accept String & print only alternate
characters on a string.
Ex: this i s a _ test

In [22]:
s=input("Enter the string:")
print(s[1::2])

Enter the string:anuradha
nrda

Q.10) Create menu driven code for
1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div
6) Exit

In [23]:
num1=float(input("Enter first number"))
num2=float(input("Enter second number"))
print("Enter which op to perform")
ch=input("Enter the operation +,-,*,/:")
result=0
if ch == '+':
  result = num1+num2
elif ch == '-':
  result = num1-num2
elif ch == '*':
  result = num1*num2
elif ch == '/':
  result = num1/num2
else:
  print("Invalid input")


print(num1,ch,num2, ':',result)

Enter first number5
Enter second number7
Enter which op to perform
Enter the operation +,-,*,/:+
5.0 + 7.0 : 12.0

Q.7) Convert Paise in Rupees &
Paises
Ex: 350 is 3 Rupees 50 Paise
3.50 print Rupees: 3
Paise: 50

In [28]:
p = 100
rs = int(input("Enter the amount in rupees : "))
total = rs * p
print(total,"Paise")

Enter the amount in rupees : 7
700 Paise